.movies-left-column {
    float : left;
    width: 29%;
    margin-top: 50px;
    margin-left: -80px;
}
.card-invalid-search{
    width: 242px;
    background-color: red;
    padding: 20px;
}
.card {
    background-color: rgb(250, 237, 237);
    padding: 20px;
    margin-top: 20px;
}